<h2> All Artists</h2 >

<% @artists.each do |artist| %>
    <%= image_tag artist.image, :class => 'thumb' if artist.image.present?  %>
<ul>

<li> Name: <%= link_to artist.name, artist_path(artist.id) %></li>
<li> Nationality: <%=artist.nationality %></li>
<li>DOB: <%=artist.dob.strftime '%A, %B %e, %Y'if artist.dob.present? %></li>
<li> Period: <%=artist.name %></li>

</ul>
<% end   %>
